<%= simple_form_for(@track) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :track %>
    <%= f.association :album, label: " ", as: :string %>
    <%= f.association :artist, as: :string %>
    <%= f.association :record_label, as: :string %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
