<p id="notice"><%= notice %></p>

<p>
  <strong>Track:</strong>
  <%= @track.track %>
</p>

<p>
  <strong>Ismn num:</strong>
  <%= @track.ismn_num %>
</p>

<p>
  <strong>Total plays:</strong>
  <%= @track.total_plays %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
